.sidenavbar{
    width: 240px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    color: #ccc;
    height: 100%;
    
    .sidenavbar-top{
        flex: 1;
        .sidenavbar-top__profile{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            .profile-icon{
                background-color: #f8cbab;
                width: 30px;
                height: 30px;
                border-radius:50% ;
                color: #000;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            .profile-title{
                display: flex;
                align-items: center;
                flex: 1;
                margin-left: 10px;
                .icon{
                    margin: 0px 10px;
                    font-size: 12px;
                }
            }
        }
        .sidenavbar-to__search{
            padding: 15px;
            
            .search-block{
                align-items: center;
                display: flex;
                padding: 8px 10px;
                border-radius: 50px;
                background: #404040;
                border-color: green;
                .input{
                    display: flex;
                    padding-left: 10px;
                    background: #404040;
                    border: none;
                    
                }
                .icon{
                    font-size: 12px;
                    //padding-right: 10px;
                }
            }
        }
        .sidebarnav-top__create-note{
            padding: 0 15px;
            color: #fff;
            .create-note-btn{
                display:flex ;
                align-items: center;
                background: #03a82d;
                padding: 8px 10px;
                border-radius: 50px;
                cursor: pointer;
                .icon{
                    font-size: 12px;
                }
                .title{
                    padding-left: 10px;
                }
            }
        }
        .sidebarnav-top__menu-item{
            margin-top: 10px;
            ul{
                li{
                    a{
                        display: flex;
                        align-items: center;
                        
                        padding: 10px 18px;
                        color: #ccc;
                        text-decoration: none;
                        .icon{
                            font-size: 14px;
                            margin-right: 8px;
                        }
                        &:hover{
                            cursor: pointer;
                            background: #404040;
                        }
                        &.active{
                            background: #404040;
                        }

                    }
                }
            }
        }


    }
}